/* 全局樣式 */
body {
    font-family: "cwTeXKai", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}
/*側邊欄*/

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--bule);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

/* 主內容樣式 */
main {
    position: relative;
    min-height: 100vh; 
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

section {
    margin-bottom: 30px;
}

#total-earnings {
    background: #e6f2ff;
    padding: 15px;
    border-radius: 5px;
}

.navigation-buttons button {
    margin: 5px;
    padding: 10px 15px;
    background: #004d99;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.navigation-buttons button:hover {
    background: #0073e6;
}

#market-data-overview {
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#button-container {
    position: fixed;
    bottom: 20px; /* 距離螢幕底部20px */
    left: 50%; /* 將容器定位到螢幕的水平中線 */
    transform: translateX(-50%); /* 使容器精確居中 */
    display: flex;
    gap: 20px; /* 按鈕之間的間隔 */
    align-items: center; /* 確保按鈕在垂直方向對齊 */
}
#pickBottle, #releaseBottle {
    font-family: "cwTeXKai", sans-serif;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    color: #093451;
    background: #fff; /* 白色背景 */
    border: 6px solid #70b7e6; /* 淺藍色加粗邊框 */
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#pickBottle:hover, #releaseBottle:hover {
    background: #70b7e6; /* 微調背景顏色 */
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
#pickBottle:active, #releaseBottle:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
