/* 覆蓋層樣式 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#biggest_watter {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none; /* 隱藏層 */
}