/* 側邊欄樣式 */
.sidebar {
    float: right;
    width: 200px;
    height: 100%;
    padding: 10px;
  }
  
  /* 側邊欄連結樣式 */
  .sidebar-links li {
    list-style: none;
    margin: 10px 0;
    position: relative; /* 必須設置為相對定位 */
    font-size: 20px;
  }
  
  .sidebar-links a {
    text-decoration: none;
    color: #695a41;
    font-weight: bold;
    display: block;
    padding: 5px 10px;
    border-radius: 13px;
    background-color: #FDF2E0; 
    box-shadow: 0 4px 6px #695a41b7;
    transition: all 0.3s ease;
    text-align: center;
    margin-bottom: 15px; /* 增加垂直距離 */
}
  
.sidebar-links a:hover {
    background-color: #FDF9ED;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px #d4d0c2;
}
  
  /* 下拉選單樣式 */
  .dropdown-menu {
    display: none; /* 默認隱藏選單 */
    padding: 10px;
    background: #f8f4ed;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(139, 155, 165, 0.518);
    transition: all 0.3s ease;
}

.dropdown-menu li {
    list-style: none;
    margin: 5px 0;
    
}

.dropdown-menu a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    display: block;
    padding: 8px 12px;
    border-radius: 8px;
    background: #f3f3f3;
    transition: background 0.3s ease, transform 0.2s ease;
}

.dropdown-menu a:hover {
    background: linear-gradient(45deg, #FDF9ED, #fdf9ede4);
    color: #000;
    transform: translateX(5px);
}

  /* 顯示下拉選單 */
  .dropdown:hover .dropdown-menu {
    display: block;
    position: static; /* 保持選單在 aside 內部 */
}

/*快速說明*/
.illustrate{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    height: 450px;
    width: 340px;
    margin: 0;
    padding: 20px;
    background-color: #f9f2e6;
    border-radius: 8px;
    box-shadow: 0 2px 8px #695a41;
    
}
.illustrate li{
  font-weight: bold;
  text-align: left;
  margin-left: 0;
  font-size: 18px;
}

.illustrate h3{
  text-align: center;
  margin-bottom: 3px; /* 縮小 <h4> 底部的間距 */
}

.illustrate p{
  font-size: 15px;
  text-align: justify;
  margin-left: 0;
  margin-top: 0; /* 移除 <p> 上方的默認間距 */
}